body { background-color:#7897C5; color:white; }
h1 { background-color: black; color:white; }
#top { padding: 12px;
       border-bottom: 1px dashed black; }


body{
     width:95%;
     min-width: 320px;
     margin:10;
     padding: 0;
     background-color: #6f92c0;
}

#wrapper{
     margin: 40px auto;
     width:80%;
}
/* HTML の<p> に「テスト」と言う名前のクラス名を割り当てた場合
 * このclass="test"とクラス名をつけた<p>の文字色を変更したい場合
 * CSSで　.test {color:#336666}とする。クラスにCSS命令を適用
 * させたい時はクラス名の前に半角の「.」が入る
 *
 * .friend_box は 自分以外の相手の話内容を入れるフキダシ（左寄せ）
 * .self_box　は、自分が話した内容を入れきフキダシ（右寄せ）
*/

.self_name,
.friend_name{
     font-size: 13px;
     color: #fff;
     margin:0;
}

.self_name{
	text-align: right;
	margin-right:20px;
}





/*******************************
* 左からの吹き出し
********************************/
.left_balloon {
	color:black;
    position: relative;
    background: #fff;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 20%;
    clear: both;
    max-width: 500px;
    float: left;
}
.left_balloon:after,
.left_balloon:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* 右からの吹き出し
********************************/
.right_balloon {
	color:black;
    position: relative;
    background: #85e249;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
}
.right_balloon:after,
.right_balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.right_balloon:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #85e249;
    border-width: 7px;
    margin-top: -7px;
}
.right_balloon:before {
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #777;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}